.list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.listItem {
  padding: 12px;
  border-bottom: 1px solid var(--accent-color);
  text-decoration: none;
  color: var(--text-color);
}

.listItem:hover {
  background-color: var(--accent-color);
}

.listItem:last-child {
  border-bottom: none;
}
