@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/button.css";
@import "./styles/form.css";

.actionSelectorContainer {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--size-1);
}
