:root {
  --primary-color: #00b080;
  --accent-color: #6dc57b;
  --text-color: #384b42;
  --invert-text-color: #fff;
  --border-color: #9ab0a6;
  --border-radius: 8px;
  --shadow-offset: 4px;
  --shadow-blur: 4px;
  --shadow-color: var(--border-color);
  --size-1: 16px;
  --size-2: 32px;
  --size-3: 48px;
  --size-4: 72px;
  --size-5: 144px;
  --size-6: 192px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--size-4);
  background-color: var(--primary-color);
  color: var(--invert-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-color) 0px var(--shadow-offset) var(--shadow-blur);
}

header .apptitle {
  font-size: 2em;
  font-weight: bold;
  padding: 0 var(--size-2);
}

header nav {
  padding: 0 var(--size-2);
  display: flex;
  gap: var(--size-1);
}

header nav a {
  padding: var(--size-1);
  border-radius: var(--border-radius);
  color: var(--invert-text-color);
}

header nav a:hover {
  background-color: var(--accent-color);
}

header nav a.active {
  background-color: var(--accent-color);
}

main {
  padding-top: var(--size-1);
  max-width: 768px;
  margin: auto;
}
